.shop
	&-header
		margin-bottom: 20px
	&-list
		li
			display: block

.product
	border: 1px solid grey
	width: 840px;
	margin: 0 auto 20px
	&-figure
		width: 40%
		float: left
		height: auto
	&-img
		width: 100%
		height: auto
	&-data
		width: 58%
		float: right
	&-header
		margin-bottom: 10px
		display: block
	&-name
		float: left
	&-price
		float: right
