.shop
	&-header
		margin-bottom: 20px
		float: left
		line-height: 38px
	&-show-more,
	&-show-filter
		padding: 10px 35px
		display: block
		margin: 10px auto 0
	&-show-filter
		float: right
		margin: 0
		width: 140px
	&-list
		li
			width: 32%
			margin-right: 2%
			&.ng-enter
				animation: fadeIn2 .3s ease
			&.ng-leave
				animation: fadeIn2 .3s ease reverse
			&:nth-child(3n)
				margin-right: 0

@keyframes fadeIn2
	from
		opacity: 0
		transform: translateY(25px)
	to
		opacity: 1
		transform: translateY(0)


