.shop
	&-header
		margin-bottom: 20px
		font-weight: bold
	&-list
		li
			margin-right: 10px
			&:nth-child(3n)
				margin-right: 0
	&-show-more
		padding: 10px 35px
		display: block
		margin: 10px auto 0



