<div class="cart">
	<h2 class="cart-heading">Your order:</h2>
	<table class="cart-table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Summ</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="$ctrl.products.length === 0">
				<td>----</td>
				<td>----</td>
				<td>----</td>
				<td>----</td>
			</tr>
			<tr ng-repeat="product in $ctrl.products">
				<td>{{ product.name }}</td>
				<td>{{ product.price }}</td>
				<td>{{ product.quantity }}</td>
				<td>{{ +product.price * +product.quantity }}</td>
			</tr>
		</tbody>
	</table>
	<button class="cart-make-order">Make order</button>
</div>