=spr($sprite)
	@include sprite-position($sprite)
	@include sprite-width($sprite)
	@include sprite-height($sprite)
	background-image: url(img/sprite.png)

=spr-size($sprite)
	@include sprite-width($sprite)
	@include sprite-height($sprite)

=spr-img($sprite)
	@include sprite-position($sprite)
	background-image: url(img/sprite.png)

=remove-outline
	&:hover, &:focus, &:active
		outline: none

=pos_abs_center
	position: absolute
	top: 50%
	left: 50%
	transform: translateX(-50%) translateY(-50%)

