<div class="detail clearfix">
		<div class="detail-images">
			<a ui-sref="detail.carousel({imgId:0})"><img ng-src="{{ $ctrl.productObj.img[ $ctrl.imgIndex ] }}" ></a>
			<a href="#" class="detail-images-item" ng-repeat = "img in $ctrl.productObj.img | startFrom: 1">
				<img ng-src = "{{ img }}">
			</a>
		</div>
		<div class="detail-data">
			<div class="clearfix">
				<h3 class="detail-name">{{ $ctrl.productObj.name }}</h3>
				<h3 class="detail-price">{{ $ctrl.productObj.price | currency }}</h3>
			</div>
			<div class="detail-description">
				<p>
					{{ $ctrl.productObj.description }}
				</p>
				<p>
					<b>Display: </b>{{ $ctrl.productObj.details.display }}
				</p>
				<p>
					<b>Memory: </b>{{ $ctrl.productObj.details.memory }}
				</p>
				<p>
					<b>Weight: </b>{{ $ctrl.productObj.details.weight }}
				</p>
			</div>
			<buy product-obj="$ctrl.productObj"></buy>
		</div>
		<div ui-view></div>
</div>