.carousel
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	background: rgba(0,0,0,.0)
	animation:  fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
	&-window
		+pos_abs_center
		padding: 25px
		background: $bg1
	&-window:hover &-btn
		display: block
	&-img
		width: auto
	&-btn
		+remove-outline
		display: none
		position: absolute
		right: 0
		top: 0
		height: 100%
		width: 50px
		background: $bg2
		opacity: .65
		i
			+spr($sprite_next)
			+pos_abs_center
		&.prev
			left: 0
			i
				+sprite-position($sprite_prev)

